body{
    background-color: #5b5b5b;
}

.backgroundgrey {
    background-color: #5b5b5b;
}

#profileicon {
    color: white;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: -5px;
    font-size: 30px;
}

#profiletext {
    color: white;
    align-items: baseline;
    text-decoration: none;
}

#cart {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 22px;
}

#favorites {
    color: white;
    margin-left: 14px;
    margin-top: 10px;
    font-size: 22px;
}

#a {
    margin-left: auto;
}

.form-control {
    width: 500px;
}

.form-control:focus {
    outline: none;
  }

.d-flex {
    margin: 0 auto;
}
